<h2>AuditLogs</h2>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        User
      </th>
      <th>
        StartDate
      </th>
      <th>
        EndDate
      </th>
      <th>
        Status
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @audit_logs %>
  </tbody>
</table>

